@page
@model DeathGround.Pages.NewsModel
@{
    ViewData["Title"] = "Новости";
}

<div class="header">
    <div class="title">
        <img src="/img/png25.png" class="header-logo"/>
        <a class="display" href="/">
            <h1 class="stop-ground">StopGround</h1>
        </a>
    </div>
</div>
<div class="menu">
    <a id="GamesST" class="display-menu" asp-area="" asp-page="/Index">Игры</a>
    <a id="NewsST" class="display-menu" asp-area="" asp-page="/News">Новости</a>
    <a id="BlogsST" class="display-menu" asp-area="" asp-page="/Blogs">Блоги</a>
    <a id="StreamsST" class="display-menu" asp-area="" asp-page="/Streams">Стримы</a>
    <a id="CheatsST" class="display-menu" asp-area="" asp-page="/Cheats">Читы</a>
    <a id="ForumsST" class="display-menu" asp-area="" asp-page="/Forums">Форумы</a>
</div>
<div class="newsblock">
    <div class="gamenewsblock">
        <h1 class="gamenews">ИГРОВЫЕ НОВОСТИ</h1>
    </div>
    <div class="fonnews">
        <p class="textnewstoday">28 февраля</p>
        <p class="textnewstoday">14:34</p>
        <div class="newslogoblock">
            <img src="/img/news/eldenring.jpg" class="logoflex"/>
        </div>
        <h1 class="textnews">Анонсировано расширение Shadow of the Erdtree для Elden Ring</h1>
    </div>
    <div class="fonnews">
        <p class="textnewstoday">28 февраля</p>
        <p class="textnewstoday">13:56</p>
        <div class="newslogoblock">
            <img src="/img/news/barotrauma.jpg" class="logoflex" />
        </div>
        <h1 class="textnews">Barotrauma выйдет из раннего доступа 13 марта</h1>
    </div>
    <div class="fonnews">
        <p class="textnewstoday">28 февраля</p>
        <p class="textnewstoday">13:48</p>
        <div class="newslogoblock">
            <img src="/img/news/atomicheart.jpg" class="logoflex"/>
        </div>
        <h1 class="textnews">Atomic Heart попала в чарт продаж в Великобритании и топ Game Pass</h1>
    </div>
    <div class="fonnews">
        <p class="textnewstoday">28 февраля</p>
        <p class="textnewstoday">13:21</p>
        <div class="newslogoblock">
            <img src="/img/news/genshin.jpg" class="logoflex"/>
        </div>
        <h1 class="textnews">В Genshin Impact появится ещё два Дендро-персонажа</h1>
    </div>
</div>